In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Basar,IN,7/31/2021 20:31,27.9833,94.6667,71.82,99,89,1.41
1,1,Parrita,CR,7/31/2021 20:31,9.5201,-84.3225,91.53,73,39,5.19
2,2,Atuona,PF,7/31/2021 20:31,-9.8000,-139.0333,76.80,69,53,13.29
3,3,Port Elizabeth,ZA,7/31/2021 20:31,-33.9180,25.5701,52.09,76,40,4.61
4,4,Novomichurinsk,RU,7/31/2021 20:31,54.0384,39.7479,69.62,72,34,5.82

In [4]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,7/31/2021 20:31,-9.8000,-139.0333,76.80,69,53,13.29
7,7,Ribeira Grande,PT,7/31/2021 20:31,38.5167,-28.7000,77.40,65,20,8.05
12,12,Santa Cruz,BO,7/31/2021 20:31,-17.8000,-63.1667,81.86,26,1,12.66
13,13,Yellowknife,CA,7/31/2021 20:27,62.4560,-114.3525,82.29,51,20,1.99
14,14,Puerto Ayora,EC,7/31/2021 20:31,-0.7393,-90.3518,78.76,96,39,5.99
16,16,Nichinan,JP,7/31/2021 20:31,31.6000,131.3667,80.76,88,84,3.36
18,18,Thompson,CA,7/31/2021 20:31,55.7435,-97.8558,75.36,43,75,11.50
19,19,San Policarpo,PH,7/31/2021 20:31,12.1791,125.5072,81.79,80,99,9.26
30,30,Maragogi,BR,7/31/2021 20:31,-9.0122,-35.2225,76.95,76,63,12.95
31,31,Georgetown,MY,7/31/2021 20:31,5.4112,100.3354,77.90,97,40,5.99

In [25]:
preferred_cities_df.count()

City_ID       202
City          202
Country       202
Date          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Atuona      PF     76.80  -9.8000 -139.0333
7   Ribeira Grande      PT     77.40  38.5167  -28.7000
12      Santa Cruz      BO     81.86 -17.8000  -63.1667
13     Yellowknife      CA     82.29  62.4560 -114.3525
14    Puerto Ayora      EC     78.76  -0.7393  -90.3518
16        Nichinan      JP     80.76  31.6000  131.3667
18        Thompson      CA     75.36  55.7435  -97.8558
19   San Policarpo      PH     81.79  12.1791  125.5072
30        Maragogi      BR     76.95  -9.0122  -35.2225
31      Georgetown      MY     77.90   5.4112  100.3354

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, SyntaxError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,76.80,-9.8000,-139.0333,Villa Enata
7,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
12,Santa Cruz,BO,81.86,-17.8000,-63.1667,Aviador Hotel Boutique
13,Yellowknife,CA,82.29,62.4560,-114.3525,The Explorer Hotel
14,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Nichinan,JP,80.76,31.6000,131.3667,Guest House Aki
18,Thompson,CA,75.36,55.7435,-97.8558,Burntwood Hotel
19,San Policarpo,PH,81.79,12.1791,125.5072,JM Lodge
30,Maragogi,BR,76.95,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
31,Georgetown,MY,77.90,5.4112,100.3354,Cititel Penang

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))